version: '3.8'

services:
    app:
        build:
            context: ./laravel
            dockerfile: Dockerfile
        container_name: laravel_backend
        ports:
            - "8000:80"
        volumes:
            - ./laravel:/var/www
        depends_on:
            - db

    frontend:
        build:
            context: ./frontend
            dockerfile: Dockerfile
        container_name: vue_frontend
        ports:
            - "5173:5173"
        volumes:
            - ./frontend:/app

    db:
        image: mysql:8.0
        container_name: mysql_db
        restart: always
        environment:
            MYSQL_DATABASE: laravel
            MYSQL_USER: root
            MYSQL_PASSWORD: root
            MYSQL_ROOT_PASSWORD: root
        ports:
            - "3306:3306"
        volumes:
            - dbdata:/var/lib/mysql

volumes:
    dbdata:
