name: Deploy to Production

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'
        extensions: mbstring, xml, bcmath, curl
        ini-values: post_max_size=256M, max_execution_time=300

    - name: Install Dependencies
      run: composer install --no-ansi --no-interaction --prefer-dist

    - name: Run Tests
      run: |
        if [ -d "tests/Unit" ]; then
          php artisan test --testsuite=Unit;
        fi
        if [ -d "tests/Feature" ]; then
          php artisan test --testsuite=Feature;
        fi

  deploy:
    needs: test
    if: ${{ success() }}
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'

    # - name: Add server to known_hosts
    #   run: ssh-keyscan -H ${{ secrets.DEPLOY_HOST }} >> ~/.ssh/known_hosts

    - name: Install SSH Key
      uses: shimataro/ssh-key-action@v2
      with:
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        # known_hosts: ${{ secrets.SSH_KNOWN_HOSTS }}

    - name: Deploy to Production
      env:
        DEPLOY_PATH: ${{ secrets.DEPLOY_PATH }}
        DEPLOY_USER: ${{ secrets.DEPLOY_USER }}
        DEPLOY_HOST: ${{ secrets.DEPLOY_HOST }}
      run: |
        ssh $DEPLOY_USER@$DEPLOY_HOST << 'EOF'
          cd $DEPLOY_PATH
          git pull origin main
          composer install --no-interaction --prefer-dist --optimize-autoloader --no-dev
          php artisan migrate --force
          php artisan config:cache
          php artisan route:cache
          php artisan view:cache
          chmod -R 775 storage bootstrap/cache
        EOF
